body  {
  padding:50px;
}
#container {
  background-color: skyblue;
  height: 800px;
  text-align: center;
}
#broom {
  animation: 10s fly infinite;
}
@keyframes fly {
  0% {
    transform: translateY(0px);
  }
  9% {
    transform: translateY(25px);
  }
  18% {
    transform: translateX(25px);
  }
  27% {
    transform: translateY(50px);
  }
  36% {
    transform: translateX(50px);
  }
  45% {
    transform: translateY(100px);
  }
  54% {
    transform: translateX(100px);
  }
  63% {
    transform: translateY(50px);
  }
  72% {
    transform: translateX(50px);
  }
  81% {
    transform: translateY(25px);
  }
  100% {
    transform: translateX(0px);
  }  
}